@import url('https://fonts.google.com/css2?family+Monserrat:wght@200;300;400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
.max-width{
	max-width: 1300px;
	padding: 0 88px;
	margin: auto;
}
.navbar{
	position: relative;
	width: 100%;
	padding: 15px 0px;
	font-family: 'monserrat', sans-serif;
	background: orange;
}
.navbar .max-width{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar .logo a:hover{
	color: red;
}
.navbar .logo a{
	color: black;
	font-size: 35px;
	font-weight: 600;
}
.navbar .logo a span{
	color: white;
}
.navbar .logo a span:hover{
	color: blue;
}

.navbar .menu li{
	list-style: none;
	display: inline-block;
}
.navbar .menu li a{
	display: block;
	color: white;
	font-size: 20px;
	font-weight: 600;
	margin-left: 30px;
	transition: all 0.5s linear;

}
.navbar .menu li a:hover{
	color: violet;
}


.home{
	display: flex;
	background: url("image/image.jpg") no-repeat center; 
	height: 100vh;
	color: tomato;
	min-height: 600px;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Monserrat', sans-serif;
}
.home .max-width{
	margin: auto 30 auto 30px;
}
.home .home-content .text-1{
	font-size: 50px;
}
.home .home-content .text-2{
	font-size: 100px;
	font-weight: 700;
	margin-left: -3px;
}
.home .home-content .text-3{
	font-size: 25px;
}
.home .home-content a{
	display: inline-block;
	background: orange;
	color: black;
	font-size: 20px;
	padding: 12px 36px;
	margin-top: 30px;
    border-radius: 20px;
    transition: all 0.5s linear;
}
.home .home-content a:hover{
	color: white;
	background: pink;
}
section{
	padding: 50px 0;
}


.About{
	display: flex;
	background: url("image/aboutbg.jpg") no-repeat center;
	height: 100vh;
	color: white;
	min-height: 500px;
	background-size: cover;
	background-attachment: scroll;
	font-family: 'Monserrat', sans-serif;
}
.About .title{
	text-align: center;
	font-size: 20px;
	padding-bottom: 20px;
}
.About .about-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.About .about-content .left{
	width: 45%;
}
.About .about-content .left img{
	height: 300px;
	width: 300px;
	object-fit: cover;
	border-radius: 10px;
}
.About .about-content .right{
	width: 55%;
}
.About .about-content .right .text{
	margin-bottom: 20px;
}
.About .about-content .right p{
	font-size: 20px;
	text-align: justify;
}


.services{
	display: flex;
	background: url("image/socmedbg.jpg") no-repeat center;
	height: 100vh;
	min-height: 500px;
	background-size: cover;
	background-attachment: scroll;
}
.services .title{
	font-family: 'monserrat' sans-serif;
	color: white;
	text-align: center;
	font-size: 30px;
	padding-bottom: 30px;
}
.services .title:hover{
	color: orange;
}
.services .services-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.services .services-content .card{
	width: calc(33% - 20px);
	background: white;
	text-align: center;
	border-radius: 100px;
	padding: 20px 25px;
}
.services .services-content .card:hover{
	background: orange;
	color: white;
}
.services .services-content .card{
	transition: all 0.3s ease;
}
.services .services-content .card:hover{
	transform: scale(1.05);
}
.services .services-content .card img{
	height: 60px;
	width: 60px;
}
.services .services-content .text{
	font-family: 'Monserrat', sans-serif;
	font-size: 25px;
	font-weight: 600;
	margin: 10px 0;
}
.services .services-content p{
	font-family: 'Monserrat', sans-serif;
	font-size: 18px;
}


.products{
	font-family: 'Monserrat', sans-serif;
	font-size: 30px;
	color: black;
	display: flex;
	background: url("image/image.jpg") no-repeat center;
	height: 100vh;
	min-height: 500px;
	background-size: cover;
	background-attachment: scroll;
	background-attachment: fixed;
}
.products .title{
	text-align: center;
	font-size: 30px;
	padding-bottom: 20px;
	color: orange;
}
.products .products-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.products .products-content .column{
	width: calc(50% - 30px)
}
.products .products-content .left .text{
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 600;
}
.products .products-content .left p{
	text-align: justify;
	font-size: 18px;
}
.products .products-content .left a{
	display: inline-block;
	background: red;
	color: white;
	font-size: 15px;
	padding: 10px 30px;
	margin-top: 30px;
	border-radius: 10px;
}
.products .products-content .left a:hover{
	color: black;
	background: orange;
}
.products .products-content .right .bar{
     margin-bottom: 10px;
}
.products .products-content .right .info{
	display: flex;
	margin-bottom: 5px;
	align-items: center;
	justify-content: space-between;
}
.products .products-content .right span{
	font-weight: 600;
	font-size: 18px;
	padding: 5px;
}
.products .products-content .right .line{
	height: 5px;
	width: 100%;
	background: white;
	position: relative;
}
.products .products-content .right .line::before{
	content: "";
	position: absolute;
	height: 100%;
	left: 0;
	right: 0;
	background: tomato;
}
.products .products-content .right .clothes::before{
	width: 90%;
}
.products .products-content .right .shoes::before{
	width: 95%;
}
.products .products-content .right .jewelries::before{
	width: 80%;
}
.products .products-content .right .bags::before{
	width: 78%;
}
.products .products-content .right .gadgets::before{
	width: 75%;
}


.contact{
	background: orange;
	font-family: 'Monserrat', sans-serif;
}
.contact .title{
	text-align: center;
	font-size: 30px;
	padding-bottom: 50px;
}
.contact .contact-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.contact .contact-content .column{
	width: calc(50% - 30%)
}
.contact .contact-content .column .text{
    color: black;
    font-size: 25px;
	font-weight: 600;
	margin: 10px 0;
}
.contact .contact-content .left p{
	font-size: 18px;
	text-align: justify;
}
.contact .contact-content .row{
	display: flex;
	height: 65px;
	align-items: center;
}
.contact .contact-content .row .info{
	margin-left: 25px;
}
.contact .contact-content .left img{
	height: 20px;
	width: 20px;
}
.contact .contact-content .info .head{
	color: white;
	font-weight: 600;
	padding: 5px 0;

}
.contact .contact-content .info .sub-title{
	font-weight: 500;
}
.contact .right form .fields{
	display: flex;
}
.contact .right form .field,
.contact .right form .fields, .field{
	height: 50px;
	width: 100%;
	margin-bottom: 10px;
}
.contact .right form .textarea{
	height: 85px;
	width: 100%;
}
.contact .right form .name{
	margin-right: 10px;
}
.contact .right form .email{
	margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
	height: 100%;
	width: 100%;
	border: 1px solid lightgray;
	border-radius: 6px;
	outline: none;
	padding: 0 15px;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
	border-color: red;
}
.contact .right form .textarea textarea{
	padding-top: 10px;
	resize: none;
}
.contact .right form .button{
	height: 50px;
	width: 180px;
}
.contact .right form .button button{
	width: 100%;
	height: 100%;
	background: yellow;
	border: 2px yellow;
	outline: none;
	color: black;
	font-size: 18px;
	border-radius: 6px;
}
.contact .right form .button button:hover{
	color: black;
	border: 2px solid turquoise;
	background: red;
}


 footer{
	font-family: 'Montserrat', sans-serif;
	color: white;
	background: black;
	text-align: center;
}
footer span{
	color: blue;
	text-decoration: none;
}
footer span a{
	color: red;
}
footer span a:hover{
	text-decoration: underline;
}